<%- include('common/header'); %>
    <h1>Это смешно</h1>
    <p>Сайтец про стендап комедию. Уже есть:</p>
    <ul>
        <li><a href="/youtube/">Ютюб рейтинг концертов по просмотрам</a>. Пополняется.</li>
        <li><a href="/p/Ilia_Iakiamsev/raiting/">Мой личный рейтинг концертов</a>. Пополняется.</li>
    </ul>
<%- include('common/footer'); %>