<%- include('common/header'); %>
<h1>😃 Это смешно</h1>
<p>Сайтец про стендап комедию. Уже есть:</p>
<ul>
    <li><a href="/youtube/">Ютюб рейтинг концертов по просмотрам</a>.</li>
    <li><a href="/p/">Комики, который выпустили хотя бы один концерт</a>.</li>
    <li><a href="/c/">Все концерты на этом сайте</a>.</li>
</ul>
<h2>Экспериментальные фичи</h2>
<ul>
    <li><a href="/p/Ilia_Iakiamsev/raiting/">Мой личный рейтинг концертов</a>.</li>
</ul>
<p>Планируется, что можно будет выставлять рейтинг концертам каждому, кто залогинился на сайт. Когда-нибудь.</p>
<p>Скорость обновлений невысокая, я пишу этот сайт в свободное время.</p>
<%- include('common/footer', {webPageData: {}}); %>
