/* editor messages */
.internalMessage-info {
  display: block;
  border: 1px solid blue;
  padding: 10px;
}

.internalMessage-info::before {
  content: "✔️ ";
}

.internalMessage-error {
  display: block;
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 10px;
}

h1 .breadCrumbs {
  font-size: 40%;
  font-weight: bold;
}

h1 .breadCrumbs a {
  text-decoration: none;
}