body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

th {
  text-align: left;
}

td {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

td.statnumbers {
  text-align: right;
}

h1 .breadCrumbs {
  font-size: 40%;
  font-weight: bold;
}

h1 .breadCrumbs a {
  text-decoration: none;
}

small {
    font-size: 60%;
}
