<%- include('common/header'); %>
<h1>Editor</h1>
<h2>Content</h2>
<ul>
    <li>🎬 <a href="/editor/media/">Медиа</a> (<a href="/editor/media/add/">+ добавить</a>)</li>
    <li>📼 <a href="/editor/media-sources/">Источники медиа</a></li>
    <li>👲 <a href="/editor/persons/">Персоны</a> (<a href="/editor/persons/add">+ добавить</a>)</li>
    <li>💰 <a href="/editor/paywalls/">Пейволлы</a> (<a href="/editor/paywalls/add">+ добавить</a>)</li>
</ul>
<h2>Technical</h2>
<ul>
    <li>📺 <a href="/editor/youtubescan/">Дёрнуть ютюб</a></li>
</ul>
<%- include('common/footer'); %>