<%- include('common/header'); %>
<h1>Media добавлено</h1>
<pre>
<%= JSON.stringify(webPageData, null, '  ') %>
</pre>
<a href ="/editor/media/">На страницу с медиа.</a> 
<%- include('common/footer'); %>