<%- include('common/header'); %>
<h1>Персона добавлена</h1>
<pre>
<%= JSON.stringify(webPageData, null, '  ') %>
</pre>
<a href ="/editor/persons/">На страницу с персонами.</a> 
<%- include('common/footer'); %>