<!-- start footer -->
<p>Вся информация добавляется вручную, поэтому - если хотите добавить свой концерт или исправить информацию, <a href="https://t.me/irv_official">напишите где-нибудь в комментах здесь</a>.</p>
<p><small>Сайт пишет и поддерживает <a href="https://mintmint.ru">Илья Якямсев</a>, 2024 - прямо сейчас.</small></p>
</body>
</html>