<!-- start footer -->
<p>Вся информация добавляется вручную, поэтому - если хотите добавить свой концерт или исправить информацию, <a href="https://t.me/irv_official">напишите где-нибудь в комментах здесь</a>.</p>
</body>
</html>